.artist-panel-holder {
  justify-content: space-between;
  width: 100%;
  color: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.artist-panel__description {
  overflow-y: hidden;
  font-size: 40px;
}

.artist-panel {
  width: 100%;
  height: 431px;
  max-width: 922px;
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
}

.artist-panel__img {
  flex-shrink: 0;
  height: 418px;
  width: auto;
}

.artist-panel__name {
  font-size: var(--font-sm);
  font-weight: var(--font-bold);
}

.artist-panel__job {
  color: grey;
}

.artist-panel__text-content {
  max-height: 418px;
  align-items: start;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.artist-panel__logo {
  margin-top: auto;
  height: 37px;
  width: auto;
  min-height: 0.5rem;
}

.artist-panel__button {
}
