.artist-panel-holder {
  justify-content: space-between;
  width: 100%;
  color: black;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.artist-panel-description {
  font-size: 2rem;
}

.artist-panel {
  flex: 0 1 auto;
  max-width: 700px;
  display: flex;
  flex-direction: row;
}

.artist-panel__img {
  flex-shrink: 0;
  height: 405px;
  width: auto;
  min-width: 0;
}

.artist-panel__text-content {
  max-height: 405px;
  align-items: start;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.artist-logo {
  margin-top: auto;
  height: 2em;
  min-height: 0.5rem;
}
