.artist-panel-holder {
  justify-content: space-between;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.artist-panel__description {
  overflow-y: hidden;
  font-size: 1em;
}

.artist-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
}

.artist-panel__img {
  flex-shrink: 0;
  height: 10em;
  width: auto;
}

.artist-panel__name {
  font-size: 0.65em;
  font-weight: var(--font-bold);
}

.artist-panel__job {
  color: grey;
  font-size: 0.4em;
}

.artist-panel__text-content {
  max-height: 10em;
  align-items: start;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.artist-panel__logo {
  margin-top: auto;
  height: 1em;
  width: auto;
  min-height: 0.5rem;
}

.artist-panel-holder__button {
  height: 65px;
  width: 65px;
}

.artist-panel-holder__panel {
}

.benefits-section__logos {
}

.logos-panel__items {
}

@media (--xl-viewport) {
}

@media (--lg-viewport) {
}

@media (--md-viewport) {
  .artist-panel-holder__button {
    height: 65px;
    width: 65px;
    display: none;
  }

  .artist-panel {
    gap: 10px;
  }

  .artist-panel-holder {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (--sm-viewport) {
  .artist-panel__description {
    display: none;
  }

  .artist-panel-holder__button {
    height: 65px;
    width: 65px;
    display: none;
  }

  .artist-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .artist-panel-holder {
    padding-top: 0;
    padding-bottom: 0;
  }
}
