.benefit-card {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.benefit-card__text-wrapper {
  display: flex;
  flex-direction: column;
}

.benefit-card__ico {
  flex-shrink: 0;
  height: 80%;
  width: auto;
}

.benefit-card__title {
}

.benefit-card__description {
}

.benefits-section__artist {
}

@media (--xl-viewport) {
}

@media (--lg-viewport) {
}

@media (--md-viewport) {
}

@media (--sm-viewport) {
  .benefit-card__ico {
    flex-shrink: 0;
    height: 80%;
    width: auto;
    display: none;
  }
}
