.benefits-section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
  place-items: center;
}

.benefits-section {
  padding-top: 10rem;
  background-color: var(--color-secondary-background);
}

.benefits-section__title {
}

.benefits-section__cards-item {
  height: 80px;
}

.benefits-section__artist {
  font-size: 40px;
}

.benefits-section__logos {
}

@media (--xl-viewport) {
}

@media (--lg-viewport) {
}

@media (--md-viewport) {
  .benefits-section__artist {
    font-size: 20px;
  }
}

@media (--sm-viewport) {
  .benefits-section__cards-item {
    height: fit-content;
    width: 270px;
  }

  .benefits-section__cards {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .benefits-section__artist {
    font-size: 30px;
  }
}
