.benefits-section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 5rem;
  place-items: center;
}

.benefits-section {
  padding-top: 10rem;
  background-color: var(--color-secondary-background);
}

.benefits-section__title {
}

.benefits-section__cards-item {
  height: 80px;
}

.benefits-section__artist {
  font-size: 40px;
}
