.benefit-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.benefit-card__ico-container {
  flex-shrink: 0;
}

.benefit-card__text-wrapper {
  color: black;
  display: flex;
  flex-direction: column;
}

.benefit-card__ico {
  height: 72px;
  width: auto;
}
