.benefit-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.benefit-card__text-wrapper {
  color: black;
  display: flex;
  flex-direction: column;
}

.benefit-card__ico {
  flex-shrink: 0;
  height: 72px;
  width: auto;
}

.benefit-card__title {
}

.benefit-card__description {
}

.benefits-section__artist {
}
