.button {
  display: inline-flex;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 0.3em 1.25em;
  gap: 1em;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  color: var(--color-primary-button);
  fill: var(--color-primary-button);
}

.button__text {
  text-wrap: nowrap;
}

.button__ico {
  height: 0.7em;
  width: auto;
}

.button__ico--bg-blue {
  fill: var(--color-button-bg);
}

.button--bg-blue {
  background-color: var(--color-button-bg);
}

.button--lg {
  font-size: 2rem;
}

.button--no-paddings {
  padding: 0;
}

.button--border {
  border: 1px solid white;
  border-color: white;
}

.button__text--blue {
  color: var(--color-blue);
}
