.ceo {
  display: flex;
  flex-direction: row;
  gap: var(--space-sm, 10rem);
  color: var(--color-secondary-text);
}

.ceo__img-container {
}

.ceo__personal-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ceo__img {
  height: 100%;
  width: auto;
  flex-shrink: 0;
}

.ceo__name {
  font-weight: 500;
  font-size: var(--font-md);
}

.ceo__description {
  font-weight: 300;
  font-size: var(--font-sm);
}
