.circle-button {
  --ico-color: var(--color-blue);

  width: 100%;
  height: 100%;
  transition: --ico-color 0.9s ease;
  padding: 0;
  border: none;
  cursor: pointer;
}

.circle-button__bg-ico {
  height: 100%;
  width: auto;
  fill: #e7ebfc;
}

.circle-button__ico {
  height: 100%;
  width: auto;
  fill: var(--ico-color);
}

.circle-button:hover {
  --ico-color: red;
}
