.closing-headline__button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.closing-headline {
  padding-top: 10rem;
  background-color: var(--color-secondary-background);
}

.closing-headline__text {
  text-align: center;
  font-size: var(--font-md);
}
