.closing-headline__button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.closing-headline {
  padding-top: 10rem;
}

.closing-headline__text {
  color: black;
  text-align: center;
  font-size: var(--font-md);
}
