.container {
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.flex-item-align-left {
  margin-left: auto;
}

@media (--xl-viewport) {
  .container {
    max-width: 1440px;
  }
}

@media (--lg-viewport) {
  .container {
    max-width: 1024px;
  }
}

@media (--md-viewport) {
  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (--sm-viewport) {
  .container {
    max-width: 576px;
  }
}
