.header {
  background-color: var(--color-header-bg, white);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 5rem;
  height: 100%;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;
  position: relative;
}

.header__nav {
  margin-left: var(--space-xl, 4rem);
  gap: var(--space-sm, 10rem);
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  font-size: var(--font-xs);
}

.header__book {
  margin-left: auto;
}

.header__logo {
}

.header__burger {
  margin-left: auto;
}

@media (--xl-viewport) {
}

@media (--lg-viewport) {
  .header__nav {
    margin-left: var(--space-md);
    gap: 10px;
  }
}

@media (--md-viewport) {
  .header__book {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__nav * {
    display: none;
  }

  .header {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (--sm-viewport) {
  .header__nav {
    display: none;
  }

  .header__nav * {
    display: none;
  }

  .header {
    padding-left: 5px;
    padding-right: 5px;
    justify-content: center;
  }

  .header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__book {
    display: none;
  }
}
