.logos-panel {
  display: flex;
  flex-direction: row;
}

.logos {
  width: 100%;
  display: grid;
  gap: 1rem;
  place-items: center;
  grid-template-rows: repeat(2, minmax(5rem, 1fr));
  grid-auto-flow: column;
}

.logos__item {
  width: 160px;
  height: 90px;
  object-fit: contain;
  padding: 1rem;
}

.logos-panel__description {
  color: black;
}

.logos-panel__contumers {
  font-size: 3rem;
  font-weight: 650;
}

.logos-panel__text-content {
  font-size: var(--font-sm);
}
