.main-section {
  background-color: var(--color-primary);
}

.main-section__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-top: var(--space-xl);
  margin-right: 30%;
}

.main-section__action {
  width: fit-content;
}

.main-section__ceo {
  height: 10rem;
}

.main-section__title {
}

.main-section__text-content {
  font-size: var(--font-md, 1px);
  font-style: italic;
  font-weight: 300;
  color: var(--color-secondary-text);
}

.main-section__nav {
}

@media (--xl-viewport) {
}

@media (--lg-viewport) {
  .main-section__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-top: var(--space-xl);
    margin-right: 0;
  }
}

@media (--md-viewport) {
  .main-section__text-content {
    font-size: var(--font-sm, 1px);
    font-style: italic;
    font-weight: 300;
    color: var(--color-secondary-text);
  }

  .main-section__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-top: var(--space-xl);
    margin-right: 0;
  }
}

@media (--sm-viewport) {
  .main-section__text-content {
    font-size: calc(var(--font-md, 1px) * 0.7);
    font-style: italic;
    font-weight: 300;
    color: var(--color-secondary-text);
    margin-right: 0;
  }

  .main-section__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    margin-top: var(--space-xl);
    margin-right: 0;
  }
}
