.solutions-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
  place-items: center;
  grid-auto-rows: minmax(20rem, 20rem);
  justify-items: center;
}

.solution-page__title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.solution-page__bottom-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
