.solution-card__button {
  margin-top: auto;
  width: fit-content;
}

.solution-card__ico {
  margin-bottom: auto;
}

.solution-card {
  border-radius: 5px;
  height: 100%;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: var(--color-solution-card-bg);
  display: flex;
  flex-direction: column;
}

.solution-card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.solution-card__title {
}

.solution-card__description {
}
