.solution-section {
  background-color: var(--color-primary);
}

.solution-section__title {
  width: 100%;
  align-items: center;
}

.solution-section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  place-items: center;
  grid-auto-rows: 354px;
  justify-items: center;
}

.solution-section__cards-item {
  height: 354px;
  width: 300px;
}

.solution-section__footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (--xl-viewport) {
  .solution-section__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    place-items: center;
    grid-auto-rows: 300px;
    justify-items: center;
  }

  .solution-section__cards-item {
    height: 300px;
    width: 250px;
  }
}

@media (--lg-viewport) {
  .solution-section__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    place-items: center;
    grid-auto-rows: 300px;
    justify-items: center;
  }

  .solution-section__cards-item {
    height: 300px;
    width: 250px;
  }
}

@media (--md-viewport) {
  .solution-section__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    place-items: center;
    grid-auto-rows: 300px;
    justify-items: center;
  }

  .solution-section__cards-item {
    height: 300px;
    width: 250px;
  }
}

@media (--sm-viewport) {
  .solution-section__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    place-items: center;
    grid-auto-rows: 300px;
    justify-items: center;
  }

  .solution-section__cards-item {
    height: 300px;
    width: 250px;
  }
}
