.solution-card__button-wrapper {
  margin-top: auto;
}

.solution-card__ico {
  margin-bottom: auto;
}

.solution-card {
  max-width: 20rem;
  border-radius: 5px;
  height: 100%;
  justify-content: center;
  padding: 2rem 1rem;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.solution-card__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
