.solution-section {
  background-color: var(--color-primary);
}

.solution-section__title {
  width: 100%;
  align-items: center;
}

.solution-section__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 5rem;
  place-items: center;
  grid-auto-rows: minmax(20rem, 20rem);
  justify-items: center;
}

.solution-section__footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.solution-section__cards-item {
  height: 354px;
  width: 350px;
}
