.teammate-card {
  display: flex;
  flex-direction: column;
}

.teammate-card__img {
  fill: var(--color-teammate-img);
  width: 100%;
  height: auto;
}

.teammate-card__contacts {
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

.teammate-card__info {
  display: flex;
  flex-direction: column;
  color: black;
}

.teammate-card__name {
  font-size: 1em;
  font-weight: 500;
}

.teammate-card__job {
  font-size: 0.8em;
  font-weight: 450;
}

.teammate-card__contact {
  width: 1em;
  height: auto;
}
