.title {
  font-size: var(--font-xl, 0.1rem);
  font-weight: var(--font-bold, 100);
  font-family: var(--font-family);
}

.title--sm {
  font-size: var(--font-lg, 0.3rem);
}

.title--light {
  color: var(--color-secondary-text);
}

.title--dark {
  color: var(--color-primary-text);
}

.title--centered {
  text-align: center;
}

.title--xs {
  font-size: 1.5rem;
  font-weight: 600;
}

.title--straight {
  white-space: nowrap;
}

@media (--lg-viewport) {
  .title {
    font-size: calc(var(--font-lg) * 0.8);
    color: purple;
  }
}

@media (--md-viewport) {
  .title {
    font-size: calc(var(--font-md));
    color: blue;
  }
}

@media (--sm-viewport) {
  .title {
    font-size: var(--font-md);
    color: red;
  }
}
