.dark-treangle {
  fill: var(--color-tweakful-dark-triangle);
  scale: 0.5;
  transform: translate(40%, 40%);
}

.light-treangle {
  fill: var(--color-tweakful-light-triangle);
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  scale: 0.5;
}

.tweakful-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--second-family);
  font-weight: 900;
}

.tweakful-logo__img {
  height: 2em;
  width: auto;
}
