@font-face {
  font-family: Leifa;
  src: url('./fonts/Leifa-Thin.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Leifa;
  src: url('./fonts/Leifa-Medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Leifa;
  src: url('./fonts/Leifa-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Leifa;
  src: url('./fonts/Leifa-Black.woff2') format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter-ThinBETA.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter-Black.woff2') format('woff2');
  font-weight: 900;
}

:root {
  --font-family: 'Inter', sans-serif;
  --second-family: 'Leifa', sans-serif;
  --font-xl: 4rem;
  --font-md: 2rem;
  --font-bold: 700;
  --font-lg: 3.5rem;
  --font-sm: 1.5rem;
  --font-xs: 1rem;
}

.home-page {
  font-family: var(--font-family);
  color: black;
  background-color: rgb(59 59 59);
}
