<!--logo-->
<div class="logo">

  <div class="logo-img-container">
    <svg height="100%" width="100%" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 33.75L0 0L22.5 16.875L45 33.75L0 33.75Z" />
    </svg>
    <svg height="100%" width="100%" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 33.75L0 0L22.5 16.875L45 33.75L0 33.75Z" />
    </svg>
  </div>

  <p class="logo-sign">
    Tweakful
  </p>
</div>
<!--logo-->
