.main-page-header-wrapper {
  height: 9rem;
  width: 100%;
}

.fixed-header {
  position: fixed;
  top: 0;
}

.main-page__header-panel {
  height: 5rem;
}

.main-page__title {
  font-size: 4rem;
  font-weight: 500;
}

.main-page-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  margin-right: 35rem;
  gap: 2rem;
}

.main-page__text-content-wrapper {
}

.main-page__text-content {
  font-size: 2rem;
  font-weight: 300;
}

.main-page__ceo-panel {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.ceo-img-container {
  height: 10rem;
  width: auto;
  flex-shrink: 0;
}

.ceo-information-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ceo-img {
  height: 100%;
  width: 100%;
}

.ceo-name-text {
  font-weight: 500;
  font-size: 2rem;
}

.ceo-description {
  font-weight: 300;
  font-size: 1.5rem;
}

.main-page__nav-button-text {
  font-size: 2rem;
}

.main-page__nav-button-ico {
  font-size: 2rem;
}
