<!--Header-->
  <div class="header">
    <div class="header_logo-panel">
      <!--logo-->
      <div class="logo">

        <div class="logo-img-container">
          <svg height="100%" width="100%" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">

            <g class="dark-treangle">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 33.75L0 0L22.5 16.875L45 33.75L0 33.75Z"/>
            </g>

            <g class="light-treangle">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 33.75L0 0L22.5 16.875L45 33.75L0 33.75Z" />
            </g>
          </svg>      
        </div>

        <p class="logo-sign">
          Tweakful
        </p>
      </div>
      <!--logo-->
    </div>
    <div class="header__button-panel">
      <!--Link Button Component -->
      <button type="button" class="link-button">
        <span class="link-button__text">Home</span>
      </button>
      <!--Link Button Component -->

      <!--Link Button Component -->
      <button type="button" class="link-button">
        <span class="link-button__text">Features</span>
      </button>
      <!--Link Button Component -->

      <!--Link Button Component -->
      <button type="button" class="link-button">
        <span class="link-button__text">Pricing</span>
      </button>
      <!--Link Button Component -->

      <!--Link Button Component -->
      <button type="button" class="link-button">
        <span class="link-button__text">About Us</span>
      </button>
      <!--Link Button Component -->

      <!--Link Button Component -->
      <button type="button" class="link-button">
        <span class="link-button__text">Help</span>
      </button>
      <!--Link Button Component -->

    </div>

    <!--Button Component -->
    <button type="button" class="header__book-button regular-button flex-item-align-left">
      <span class="regular-button__text">Book a meeting</span>
      <svg class ="regular-button_ico header__book-button"height="100%" width="100%" viewBox="0 0 45 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 33.75L0 0L22.5 16.875L45 33.75L0 33.75Z" />
        </svg>
    </button>
    <!--Button Component -->


  </div>
<!--Header-->
