:root {
  --color-solution-card-bg: white;
  --color-primary-button: white;
  --color-footer-bg: var(--color-green-dark);
  --color-teammate-img: #e7ebfc;
  --color-header-bg: white;
  --color-secondary-background: white;
  --color-green-dark: #052825;
  --color-button-bg: #2e4fd7;
  --color-white: white;
  --color-black: black;
  --color-tweakful-light-triangle: #46ba71;
  --color-tweakful-dark-triangle: #2e4fd7;
  --color-blue: #2e4fd7;
  --color-grey: #e7ebfc;
}
