@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --color-primary-text: var(--color-white);
    --color-secondary-text: var(--color-black);
    --color-primary: gold;
    --color-secondary: black;
  }

  .home-page {
    color: var(--color-white);
  }
}
